h1{
    margin:16pt 6pt 20pt 5pt;
    padding: -7pt 0pt 1pt 0pt;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 90pt;
    text-decoration: underline yellow;
    border:5px 0px 0px 2px solid rgb(252, 138, 138);

}
hr{
    color: yellow;
}
p{
    color: yellow;
    font-size:  40pt;
    text-shadow: 3px 2px rgb(0, 0, 0);
}
ul{
    color: white;
    font-size: 20pt;
}
#ulred{
color: red;
font-weight: bolder;
}
#ulblue{
    color: blue;
    font-weight: bolder;
}
#ulgreen{
    color: green;
    font-weight: bolder;
}
img {
width: 400pt;
height: 200pt;
}
body{
    font-family: 'Secular One', sans-serif;
    background-color: black;
}
#date{
    position: absolute;
    left: 243px;
    top: 0px;
    color: gray;
    font-size: 16pt;
}
#design{
    color: grey;
    position: absolute;
    right: 240px;
    top: 0px;
    font-size: 16pt;
}
#designer{
    color: white;
    position: absolute;
    right: 200px;
    top: 15px;
    font-size: 20pt;
}
#last_update{
    color: white;
    position: absolute;
    left: 230px;
    top: 15px;
    font-size: 24pt;
}
#techbutton {
    background-color: rgb(208, 255, 0);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }